
/* Mobile Menu */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: left 0.3s ease;
    right:-100%;
    background-color: white;
    z-index: 2000;
}

.mobile-menu.active {
    right: 0;
    transition:0.3s ease;
}

.mobile-menu ul {
    list-style: none;
    margin-top: 60px;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition:0.3s ease;
}

@media screen and (max-width: 565px) {
    .logo img {
        height:40px;
        padding-left:20%;
    }

    .top-bar-center {
        margin:0;
        max-width: 100%;
        padding:0 0 0 3%;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
    .hamburger {
        display: flex;
        font-size: 24px;
        color: #151515;;
        border: none;
        cursor: pointer;
        text-align: center;
        margin-right:10px;
        margin-top:10px;
    }
    .article-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 90%;
        padding: 20px;
    }

    .full-width-image-text h1 {
    font-size: 55px;
    line-height: 60px;
    }

    .full-width-image-text {
        width: 95%;
        padding-right:20px;
        transform:translate(2%);
    }
    body {
        max-width:100%;
        overflow-x: hidden;
    }

    .background-image-container  {
        background-image: url('../Assets/MurrayScott_Background-Mobile.jpg'); /* Replace with your image path */
    }
}