@import url("https://use.typekit.net/qgs0jsv.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    overflow-y:auto;
}



h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 3rem;
    font-style: normal;
    color: white;
    line-height: 1;
    padding-bottom:10px;
}

section {
    width: 100%;
    box-sizing: border-box;
}
/* Snap container for scroll snapping */
.snap-container {
    height: 100vh; 
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
    -webkit-overflow-scrolling: touch; 
}

.snap-section {
    min-height: 100vh; 
    scroll-snap-align: start; 
}

.snap-container {
    background-image: url('MurrayScott_Gradient.jpg'); /* Replace with your image path */
    background-size: cover; /* Scale image to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
}

.image-container {
    justify-content: left;
    align-items: left;
    height: 100%;
}

.text-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.text-container h1 {
    font-size: 24px;
    max-width: 50%;
    font-weight: bold;
    display: flex;
    float: right;
    margin-bottom: 20px;
    align-items: left;
}

.text-container p {
    font-size: 14px;
    max-width: 50%;
    font-weight: bold;
    display: flex;
    text-align: left;
    align-items: left;
}

/* Header */
header {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 4px 2px;
    z-index: 1000;
    background-color: transparent;
    display: flex-end;
}

header.fixed {
    position: fixed;
    background: white;
    transition: background-color 1s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    align-items: center;
}

header.fixed .hamburger {
    color: #000;
}

/* Top Bar */
.top-bar {
    font-size: 12px;
    padding-bottom: 10px;
}

.top-bar-center {
    display: flex;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}

header .scrolled {
    background-color: transparent;
    color: #333;
    transition: 1s ease;
    position: fixed;
}

.logo {
    display: sticky;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    max-width: 10%;
}

.logo img {
    height: 40px;
    margin-top: 10px;
}

/* Navigation */
.desktop-nav {
    display: flex-end;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    float: right;
    margin: 0;
    top: 10px;
}

.video-section__overlay h1 {
    display: flex;
    font-size: 50px;
    font-weight: var(--font-heading-weight);
    line-height: 1.2;
    margin: 0;
}

.video-section__overlay button--primary {
    display: flex;
    margin-top: 20px;
}

.desktop-nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
}

.desktop-nav ul li {
    width: 50%;
    padding: 10px;
}

.desktop-nav ul li a {
    text-decoration: none;
    color: #15153f;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
}

header.fixed .desktop-nav ul li a {
    color: black;
    font-weight: 50;
}

.desktop-nav ul li a.dark {
    color: black !important;
}

.desktop-nav ul li a.active {
    color: #15153f !important;
    font-weight: bold;
    border-bottom: 2px solid #15153f;
}

.desktop-nav ul li a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
}

/* Main Section */
.full-width-section {
    object-fit: cover;
    object-position: center;
    margin-bottom: 0px;
    height:100%;
}

.full-width-image-container {
    justify-content: center;
    height: 100%;
    align-items: center;
    display: absolute;
    width: 100%;
}

/* Articles (Left Column) */
.article-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin-top: 10px;
    padding: 0px 20px;
}

.article-page {
    display:block;
    width:100%;
    margin:2rem;
}

.articles {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top:100px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.live-tag {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.live {
    background-color: #15153f;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    width: 110px;
}

.timestamp {
    font-size: 12px;
    color: #666;
}

.article h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #121212;
}

.article p {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.more-updates {
    font-size: 14px;
    color: #326891;
    text-decoration: none;
}

.more-updates:hover {
    text-decoration: underline;
}

.read-time {
    font-size: 14px;
    color: #666;
}

/* Image (Right Column) */
.image-container {
    display: flex;
    flex-direction: column;
    margin-top:10%;
    margin-right:10px;
    max-height:200px;
}

.image-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.caption {
    font-size: 12px;
    color: #666;
    text-align: right;
}

/*Full Width Image */
.text-over-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.full-width-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    justify-content: left;
    align-items: left;
    background-color: #15153f;
}

/* 2 Column Row */
.two-column-row-container {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display:flex;
    grid-template-columns: 2fr 1fr;
}

.two-column-row {
    align-items: center;
    z-index:1;
    display:flex;
    color:transparent;
    flex:wrap;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height:100%;
    background-color: #e4d4c1;
}

.column-image {
    height: 880px;
    z-index:2;
    width:100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 0px;
}

.column-text {
    justify-content: left;
    align-content:center;
    align-items: left;
    padding:100px;
    width:80%;
    z-index:3;
    flex-direction: column;
}

.column-text h2 {
    font-size: 4rem;
    font-weight: bold;
    color: #15153f;
    margin-bottom: 5px;
}
.column-text p {
    font-size: 1rem;
    color: #15153f;
    margin-bottom: 10px;
    font-weight:bold;
}

@media (max-width: 880px) {
    .two-column-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width:1080px;
        max-height:1080px;
    }

    .column-text {
        padding: 20px;
        width: 90%;
        transform: translateY(-20%);
        align-content:center;
    }

    .column-image {
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

    .column-text h2 {
        font-size: 3.5rem;
    }

.column-image {
    width: 100%;
    height:100%;
}
}

/* Overlay Image */
.overlay-image {
    position: absolute;
    z-index: 2; /* Above background image, below text */
    max-width: 50%; /* Adjust size as needed */
    max-height: 50%; /* Adjust size as needed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image */
}


.full-width-image-text {
    position: absolute;
    bottom: 50px;
    padding-left:20px;
    padding-top:20px;
    text-align: left;
    background: transparent;
    height: 70%;
    border-width: 5px;
    width: 80%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-color:white;
    transform:translate(10%);
}

.full-width-image-text h1 {
    font-size: 6rem;
    line-height:7rem;
    color: white;
}



/* Text over image */
.text-over-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    background-color: #15153f;
}

.text-over-image-text {
    position: absolute;
    color: white;
    padding: 10%;
    width: 100%;
    text-align: left;
    translate: var(50%);
}

.text-over-image-text h1 {
    font-size: 3rem;
    line-height: normal;
}

.text-over-image-text p {
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem;
    line-height: normal;
}

.text-over-image-overlay {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-over-image-text-light h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 2rem;
}

.text-over-image-text-light p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0 50px;
    text-align: center;
}

.cta-button {
    background-color: white;
    color: #000;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    border-width: 0px;
    text-align: center;
    width: 140px;
    font-size:14px;
    margin-top:10px;
}

/* Trending Section */
.trending-posts {
    padding-top: 100px;
    background: transparent;
    display: flex;
    align-content: flex-start;
    height:1080px;
    padding-bottom: 50px;
}

.trending-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-evenly;
    }

@media (max-width: 565px) {
    .trending-posts {
        align-items: center;
        padding-top: 20px;
        height: auto;
        
    }
    .trending-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}
}

.trending-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}



.trending-card {
    position: relative;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.trending-card:hover {
    transform: translateY(-5px);
}

.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    width:100%;
}

.card-content h3 {
    font-size: 18px;
    margin-bottom: 2px;
    line-height: 1.3;
}

.subheading {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}